*{
    background-color: black;
    color: aliceblue;
    font-family: sans-serif;
}
.container{
    width: 90%;
    margin: auto;
}
.top10{
    margin-top: 2%;
}
.navbar{
    
    display: flex;
    height: 100px;
    justify-content: space-between;
    font-size: 30px;
}
input{
    width: 300px;
    margin-top: 1%;
    font-size: 30px;
    border-radius: 10px;
    height: 60%;
}
.lang{
    margin-top: 1.5%;
    height: 40px;
}
.ham{
    
    margin-top: 1.5%;
    height: 40px;
}
.logo{
    width: 200px;
}
.navbar a{
    text-decoration: none;
    margin-top: 2%;
}


/*Body*/

#home{
    margin: 2%;
    color: aliceblue;
    display: grid;
    
    transition-timing-function: ease;
    grid-template-columns: repeat(10,1fr);
    gap: 1%;
}

#home>div{
    transition: transform .3s;
    transition-timing-function: ease;  
    
    
}
#home>div>h4{
    text-align: center;
}


#home>div:hover{
        border: 5px solid white;
        border-radius: 15px;
        transform: scale(1.2);
    
}
#home img{
  
    border-radius: 10px;
}
.slider{
    height: 250px;
}


/*   Web Series*/

#webseries{
    margin: 2%;
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 1%;
}
#webseries img{
    width: 250px;
    border-radius: 10px;
}


/*TV Show*/


#tvshowHome{
    margin: 2%;
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 1%;
}
#tvshowHome img{
    width: 300px;
    border-radius: 10px;
}


