*{
    background-color: black;
    color: aliceblue;
    font-family: sans-serif;
}
.container{
    width: 95%;
    margin: auto;
}
.top10{
    margin-top: 2%;
}
.navbar{
    
    display: flex;
    height: 100px;
    justify-content: space-between;
    font-size: 25px;
}

  /* Fade in */
  
/*search button*/
#search{
    width: 20%;
    margin-top: 1%;
    height: 50px;
    border: 3px solid rgb(116, 110, 110);
   border-radius:15px;
    text-align: start;
    font-size: 20px;
    color: burlywood;
}
#a_search{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* New Class for Search click*/

.domain{
    width: 95%;
    margin: auto;
    display: grid;
    margin-top: 1%;
    grid-template-columns: repeat(6 ,1fr);
    
    gap: 20px;
   
}
.domain img{
    width: 250px;
}
/*Search Card Hower*/

.searchCard img{
    
    border-radius: 10px;
    transition: transform .3s;
    transition-timing-function: ease; 
}
.searchCard img:hover{
    
    border-radius: 15px;
    transform: scale(1.1);
    border: 5px solid white;

}
.ham{
    
    margin-top: 1.9%;
    width: 100px;
}
.logo{
    margin-top: -4px;
    height: 80px;
    width: 200px;
}
.navbar a{
    text-decoration: none;
    margin-top: 1%;
    height: 40px;
    display: block;
    position: relative;
    padding: 0.5em 0em;
}
  a:hover {
    color: #ffffff;
  }
  
  a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  a:hover::before {
    transform: scaleX(1);
  }

/*Slide Show*/
#slide1 h2{
    margin-left: 2%;
    margin-top: -3%;
}

#slide1 img{
    width: 100%;
    margin-left: 0px;
    margin-top: 1%;
}
#slide2{
    margin: 5%;
}
#slide2 img{
    width: 100%;
    height: 150%;
}
/*Body*/

#home{
    margin: 2%;
    color: aliceblue;
    display: flex;
    gap: 2%;
}
#home img{
    width: 250px;
    border-radius: 10px;
    transition: transform .4s;
    transition-timing-function: ease; 
}
#home img:hover{
    
    border-radius: 15px;
    transform: scale(1.3);
    border: 3px solid white;

}

/*   Web Series*/

#webseries{
    margin: 2%;
    color: aliceblue;
    display: flex;
    gap: 1%;
}
#webseries img{
    width: 250px;
    border-radius: 10px;
    transition: transform .4s;
    transition-timing-function: ease; 
}
#webseries img:hover{
    
    border-radius: 15px;
    transform: scale(1.3);
    border: 3px solid white;

}



/*TV Show*/


#tvshowHome{
    margin: 2%;
    color: aliceblue;
    display: flex;
    gap: 1%;
}
#tvshowHome img{
    width: 250px;
    border-radius: 10px;
    transition: transform .4s;
    transition-timing-function: ease; 
}
#tvshowHome img:hover{
    
    border-radius: 15px;
    transform: scale(1.3);
    border: 3px solid white;

}

/*Popular Movies*/


#popular_movie{
    margin: 2%;
    color: aliceblue;
    display: flex;
    gap: 1%;
}
#popular_movie img{
    width: 250px;
    border-radius: 10px;
    transition: transform .4s;
    transition-timing-function: ease; 
}
#popular_movie img:hover{
    
    border-radius: 15px;
    transform: scale(1.3);
    border: 3px solid white;

}

/*Explore in your Language*/
#explore_genre{
    margin: 2%;
    color: aliceblue;
    display: flex;
    gap: 1%;
}
#explore_genre img{
    width: 350px;
    border-radius: 10px;
}
#explore_genre>div{
    transition: transform .4s;
    transition-timing-function: ease;  
  
}
#explore_genre>div:hover{
        border: 5px solid white;
        border-radius: 15px;
        transform: scale(1.3);
    
}

/*Exclusive Movies*/

#exclusive{
    margin: 2%;
    color: aliceblue;
    display: flex;
    gap: 1%;
}
#exclusive img{
    width: 250px;
    border-radius: 10px;
    transition: transform .4s;
    transition-timing-function: ease; 
}
#exclusive img:hover{
    
    border-radius: 15px;
    transform: scale(1.3);
    border: 3px solid white;

}
/*Movie Marathone*/
#marathone{
    margin: 2%;
    color: aliceblue;
    display: flex;
    gap: 1%;
}
#marathone img{
    width: 250px;
    border-radius: 10px;
    transition: transform .4s;
    transition-timing-function: ease; 
}
#marathone img:hover{
    
    border-radius: 15px;
    transform: scale(1.3);
    border: 3px solid white;

}

/*Explore language*/

#language{
    margin: 2%;
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 1%;
}
#language img{
    width: 350px;
    border-radius: 10px;
}
#language>div{
    transition: transform .4s;
    transition-timing-function: ease;  
  
}
#language>div:hover{
        border: 5px solid white;
        border-radius: 15px;
        transform: scale(1.3);
    
}

/*South movies*/

#south_dubbed{
    margin: 2%;
    color: aliceblue;
    display: flex;
    gap: 1%;
}
#south_dubbed img{
    width: 250px;
    border-radius: 10px;
    transition: transform .4s;
    transition-timing-function: ease; 
}
#south_dubbed img:hover{
    
    border-radius: 15px;
    transform: scale(1.3);
    border: 3px solid white;

}
/*Free News*/

#free_news{
    margin: 2%;
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 1%;
}
#free_news img{
    width: 550px;
    border-radius: 10px;
}
#free_news>div{
    transition: transform .4s;
    transition-timing-function: ease;  
  
}
#free_news>div:hover{
        border: 5px solid white;
        border-radius: 15px;
        transform: scale(1.3);
    
}


/*Footer*/

#footer
{
    margin: 5%;
}
table{
    width: 100%;
    margin: auto;
}
th, td {
    padding: 15px;
    text-align: left;
    margin-left: 205px;
    
  }
  th:hover, td:hover{
    color: rgb(85, 134, 232);
  }
  td{
    color: rgb(185, 188, 190);
  }
  span{
    margin-top: 50px;
    color: rgb(185, 188, 190);
  }


 /* reponsive */

.video{
    width: 2000px;
    height: 100px;
}